.cont{
    height:100vh;
    display:flex;
    justify-content:center;
}
input{
    padding:10px;
}
form{
    display:flex;
    flex-direction:column;
    width: 300px; /* Set the width of the div */
    background-color: #ffffff; /* Background color of the div */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
    padding: 20px; /* Add some padding inside the div */
    margin: 20px; /* Add some margin outside the div */
    height: 400px;
    gap: 20px;
}
button{
    padding:10px;
    background-color:black;
    color:white;
    border-radius:10px;
    border:none;
}
button:hover{
    cursor: pointer;
}
.login-text{
    font-size: 30px;
    align-self: center;
}